* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    background-color: #3A1772;
}

main {
    flex-grow: 1;
    background-color: #94B9AF;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#cadastrarDica {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    flex-grow: 0.2;
    padding: 2%;
}

#cadastrarDica>* {
    width: 100%;
}
#cadastrarDica>div {
    display: flex;
    justify-content: space-between;
    
    padding: 2%;
}

#divDicas {
    display: flex;
    flex-direction: column;
    
    flex-grow: 0.5;

    padding: 2%;
}

#divDicas>* {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color:#475898;
    padding: 2%;
    margin: 1%;
}

footer {
    bottom: 0;
    background-color: #475898;
}