* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    background-color: #3A1772;
}

main {
    flex-grow: 1;
    background-color: #94B9AF;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#cadastrarDica {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    flex-grow: 0.2;
    padding: 2%;
}

#cadastrarDica>* {
    width: 100%;
}
#cadastrarDica>div {
    display: flex;
    justify-content: space-between;
    
    padding: 2%;
}
#divCards{
    display: flex;
    flex-direction: column;
    align-items:stretch;

    flex-grow: 0.5;
}
#cardsData{
    display: flex;
    justify-content: space-evenly;
    
    padding: 2%;
}
#cardsData>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    padding: 2%;

    background-color: #475898;
}
#divCards>input{
    margin: 0 20% 0 20%;
}

#cards{
    /* fazer em grid */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 2%;
    margin: 2%;
}
#cards>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    padding: 2%;

    background-color:aliceblue
}

footer {
    bottom: 0;
    background-color: #475898;
}