* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    background-color: #3A1772;
}

main {
    background-color: #94B9AF;

    display: flex;
}

.mainContent {
    display: flex;
    flex-grow: 1;
}

#cadastrarDica {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    padding: 2%;
    flex-grow: 1;
}

#cadastrarDica>* {
    width: 100%;
}

#cadastrarDica>div {
    display: flex;
    justify-content: space-between;

    padding: 2%;
}

#divCards {
    display: flex;
    flex-direction: column;

    flex-grow: 2;
}

#cardsData {
    display: flex;
    justify-content: space-evenly;

    padding: 2%;
}

#cardsData>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    padding: 2%;

    background-color: #475898;
}

#divCards>input {
    margin: 0 20% 0 20%;
}

#cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;

    overflow: auto;

    padding: 2%;
    margin: 2%;   
}

.card {
    font-size: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0.3rem;
    padding: 2%;

    /* word-wrap: break-word; */
    
    overflow-wrap: break-word;
    min-width: 200px;
    max-width: 200px;
    min-height: 400px;
    max-height: 400px;

    padding: 0;
    background-color: aliceblue;
}

.cardHeader {
    /* melhorar disposição de info */
    padding: 2%;
    /*mexer no h4*/

    background-color: #475898;
    background: linear-gradient(180deg, rgba(71, 88, 152, 1) 0%, rgba(87, 108, 186, 1) 50%, rgba(118, 146, 255, 1) 100%);
}

.cardMain {
    flex-grow:1;

    padding: 2%;
    overflow-y: auto;
}

.cardFooter {
    display: flex;

    justify-content: flex-end;
    padding: 2%;
}

.cardFooter button {
    border-radius: 0.5rem;

    background-color: rgb(225, 232, 238);
    /* outline-color: rgba(0, 0, 0, 0); */
}


footer {
    bottom: 0;
    background-color: #475898;
}